<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fewnu.geek.fewnu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccueilActivity"
            android:label="@string/title_activity_accueil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AjoutVenteActivity" />
        <activity
            android:name=".DepenseActivity"
            android:label="@string/title_activity_depense"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AjoutDepenseActivity" />
        <activity
            android:name=".PretActivity"
            android:label="@string/title_activity_pret"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AjoutPretActivity" />
        <activity android:name=".FisrtActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpdateActivity"></activity>
    </application>

</manifest>